// @logo-color: #73c328;
// @main-font: "Open Sans", sans-serif;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Open+Sans:400,600|Raleway&display=swap");

// font-family: 'Open Sans', sans-serif;
// font-family: 'Montserrat',sans-serif;
// font-family: 'Raleway', sans-serif;

// @nav-width: ~"(max-width: 1970px)";
// @small-computer: ~"(max-width: 1500px)";
// @tablet: ~"(max-width: 1050px)";
// @paddings: ~"(max-width: 870px)";
// @seven-hd: ~"(max-width: 700px)";
// @phone: ~"(max-width: 500px)";
// @sm-phone: ~"(max-width: 414px)";
// @xsm-phone: ~"(max-width: 360px)";
// @xxsm-phone: ~"(max-width: 320px)";

$logo-color: #73c328;
$main-font: "Open Sans", sans-serif;
$hs-font: "Montserrat", sans-serif;
$border-color: rgb(211, 207, 207);
$white: #f4f4f4;
$dark: #333;

$phone: 500px;
